[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The Heart of Cipher.
[access "refs/*"]
	owner = group user/Aryan Sinha (techyminati)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Aryan Sinha (techyminati)
	label-Verified = -1..+1 group user/Aryan Sinha (techyminati)
	push = group user/Aryan Sinha (techyminati)
	read = group user/Aryan Sinha (techyminati)
	rebase = group user/Aryan Sinha (techyminati)
	removeReviewer = group user/Aryan Sinha (techyminati)
	submit = group user/Aryan Sinha (techyminati)
[access "refs/heads/*"]
	create = group user/Aryan Sinha (techyminati)
	push = +force group user/Aryan Sinha (techyminati)
	pushMerge = group user/Aryan Sinha (techyminati)
	read = group user/Aryan Sinha (techyminati)
[access "refs/tags/*"]
	push = group user/Aryan Sinha (techyminati)
	push = +force group user/Aryan Sinha (techyminati)
